.App {
  text-align: center;
}


.gradient  span{

  font-size: 18px;
 

font-weight: 600;

} 

.gradient {
background: -webkit-linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5 80%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.set {
  display: grid;
  grid-template-columns: repeat(5, 18%);
  grid-gap: 2%;
  width: 95%;
  height: 40%;
  margin-left: 4%;
  margin-top: 1%;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.cart span:nth-child(2) {
  padding: 0 3px;
  background-color: #e73c7e;
  color: white;
  font-weight: bolx;
  border-radius: 5px;
  position: relative;
  top: -20px;
  right:8px
}

.cart  span:nth-child(1) {
  font-size: 2rem;
  color:#e73c7e;
}
.login-form{
  margin:100px;
  box-shadow: #e73c7e;
}

.otp{
  color:#e73c7e;
  font-size:16px;

}